.bc-title {
    margin-top: 9rem;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
}

#display-btn {
    width: 30rem;
    height: 7rem;
    border-radius: 10rem;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #D6A7F5;
}

#create-btn {
    margin-left: 5rem;
    width: 30rem;
    height: 7rem;
    border-radius: 10rem;
    border: none;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: black;
    color: white;
}

.bc-btns {
    display: flex;
    justify-content: center;
}

.bc-post p {
    font-size: 3rem;
}

.bc-post {
    margin: 8rem 25rem 8rem 25rem;
    padding: 3rem;
    border: 0.5rem solid #D6A7F5;
    border-radius: 6rem;
}

#post-date {
    display: inline-block;
    text-align: right;
    width: 50%;
}

#post-sub {
    display: inline-block;
    text-align: left;
    width: 50%;
}

#post-line {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 0.1rem;
    background-color: black;
    border-radius: 10rem;
}

#contact-name {
    display: inline-block;
    text-align: center;
}

#contact-pn {
    display: inline-block;
    text-align: center;
    width: 30%;
}

#contact-email {
    display: inline-block;
    text-align: center;
}

.contact-box {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
}

.like-btn {
    font-size: 3rem;
    display: inline;
    color: lightgray;
}

.liked-btn {
    font-size: 3rem;
    display: inline;
    color: red;
}

.likes-container {
    margin-left: 3rem;
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
}

.comment {
    margin-top: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    display: block;
}

.add-comment {
    margin-top: 1.5rem;
    width: 100%;
}

.comment-input {
    border: 0.1rem solid black;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 70%;
}

.add-comment-btn {
    margin-left: 1.5rem;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 20%;
    background-color: #D6A7F5;
    border: none;
    font-weight: 700;
}

.clear-btn {
    margin-left: 1.5rem;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 20%;
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
}

#form-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.bc-post label {
    font-size: 3rem;
    font-weight: 700;
}


.sub-input {
    margin-top: 2rem;
    display: block;
    border: 0.1rem solid black;
    border-radius: 10rem;
    margin-left: 1.5rem;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 90%;
    font-weight: 700;
}

.contact-input {
    margin-top: 2rem;
    display: block;
    border: 0.1rem solid black;
    border-radius: 10rem;
    margin-left: 1.5rem;
    border-radius: 10rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 90%;
    font-weight: 700;
    margin-bottom: 4rem;
}

.desc-input {
    margin-top: 2rem;
    display: block;
    border: 0.1rem solid black;
    border-radius: 10rem;
    margin-left: 1.5rem;
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 2rem;
    width: 90%;
    font-weight: 700;
}

.desc-input::-webkit-scrollbar {
    display: none;
}

.post-desc {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.bc-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bc-search-form input {
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.bc-search-form select {
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}



@media screen and (max-width: 2560px) {
    .bc-post {
        margin: 6rem 15rem 6rem 15rem;
    }

    .contact-box {
        font-size: 7rem;
    }

}

@media screen and (max-width: 1440px) {
    .bc-post {
        margin: 6rem 15rem 6rem 15rem;
    }

}

@media screen and (max-width: 1024px) {
    .bc-post {
        margin: 4rem 10rem 4rem 10rem;
    }
}

@media screen and (max-width: 768px) {
    .bc-post {
        margin: 3rem 4rem 3rem 4rem;
    }

    .contact-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact-name,
    #contact-pn,
    #contact-email,
    .bc-search-form input {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .bc-search-form input {
        border: 0.2rem solid black;
        width: 90%;
        margin-left: 1.5rem;
    }

    .bc-search-form select {
        border: 0.2rem solid black;
        width: 95%;
        margin-left: 1.5rem;
    }

    .bc-search-form button {
        margin-top: 2rem;
        width: 95%;
    }

    .bc-search-form {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .bc-post {
        margin: 3rem 2rem 3rem 2rem;
    }

    .contact-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact-name,
    #contact-pn,
    #contact-email {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}